<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>mod計算</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="icon/favicon.ico">
  <link rel="apple-touch-icon" href="icon/favicon.ico">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="text/javascript" src="js/jquery.js"></script>
</head>
<body>
  <div id="app">
    <header class="header">
      <h1 class="header__title">mod計算</h1>
    </header>
    <main class="main">
      <div class="main__container calc">
          <input class="num1" type="text" name="num1" v-model="num1" v-on:input="calc">
          の<br>
          <input class="num2" type="text" name="num2" v-model="num2" v-on:input="calc">
          乗<br>
          <input class="mod" type="text" name="mod" v-model="mod" v-on:input="calc">
          mod
      </div>
      <div class="main__container result">
        <input class="res" type="text" name="res" v-bind:value="res" readonly>
      </div>
    </main>
  </div>
  <script type="text/javascript" src="js/script.js"></script>
</body>
</html>
